<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.barcode_scanner_demo_sample">

    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:name=".utlities.DemoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barcode_Scanner_Demo_Sample"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_app"
            android:label="@string/app_name"
            android:theme="@style/Theme.Barcode_Scanner_Demo_Sample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiscoveryDeviceActivity"
            android:exported="false"
            android:label="@string/app_discovery_device_name"
            android:theme="@style/Theme.Barcode_Scanner_Demo_Sample"/>

        <provider android:name="com.apulsetech.lib.provider.LocalStateProvider"
            android:authorities="com.apulsetech.app.unified.LocalStateProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>